.wrapper2 {
    text-align: center;
    padding: 1rem;
    width: 90%;
    border-radius: 50px;
    max-width: 1200px;
    background-color: #000;
    min-height: 470px;
}
.slide-in {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.slide-in.animate {
    opacity: 1;
    transform: translateX(0);
}
.wrapper2 p{
    padding:0;
    margin:25px;
}
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}
